<section>
    <div class="container">
        <h1 class="text-center text-warning">{{titulo}}</h1>
        <p>Bienvenido, {{usuario.firstName}} {{usuario.lastName}}.</p>
        <p>Tienes {{usuario.edad}} años.</p>
        <p>Descripcion: {{usuario.descripcion}}</p>
        <p>{{saludar() }}</p>
        <p>En un año tendrás {{usuario.edad + 1}} años.</p>
    </div>
</section>
<app-tarjeta-producto></app-tarjeta-producto>
<app-mostrar-mensaje></app-mostrar-mensaje>
<app-replicador></app-replicador>
<app-replicador2></app-replicador2>